* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}


h1 {
  width: 100%;
  padding: 8px;
  text-align: center;
}


ul {
  list-style-type: none;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#container {
  border: 2px solid #c4c5c6;
  width: 60vw;
  margin-top: 8vh;
  box-shadow: 0 3px 3px 3px #c4c5c6;
}


#headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h1 {
  font-weight: bolder;
  font-weight: lighter;
  margin-left: 2%;
}


#todo-container {
  border: 1px solid rgb(216, 215, 215);
  display: flex;
  gap: 0.5px;
  flex-direction: column;
  background: rgb(216, 215, 215);
}


input[type=checkbox],
.bi-three-dots-vertical {
  cursor: pointer;
}


.todo {
  box-sizing: border-box;
  background-color: #fff;
  display: grid;
  margin: 0.2px;
  grid-template-columns: 1fr 15fr 0.8fr;
  padding: 10px 0;
}


#clear {
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  width: 100%;
  border: none;
}


#form {
  border: 1px solid rgb(216, 215, 215);
  border-bottom: none;
  display: flex;
  align-items: center;
  padding-right: 20px;
}


#addlist {
  border: none;
  width: 100%;
  padding: 10px 20px;
}


#addlist:focus,
span:focus {
  outline: none;
}




.bi-arrow-return-left {
  font-size: 20px;
}


.bi {
  cursor: pointer;
  font-size: 20px;
}
.bi-trash-fill {
  color: red;
}
